@import '@theme/variables';

.historyCard {
  width: 100%;
  margin: 0;

  &ColorTag {
    width: 95px;
    height: 6px;
    margin-bottom: $m-sm;
    border-radius: 50px;
  }

  &Content {
    padding: 20px;
  }

  &Date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    &Full,
    &Short {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    &Full {
      margin-left: 5px;
    }
  }
}
