@import '@theme/variables';

.workoutDaysSection {
  &Content {
    display: grid;
    grid-template-rows: 120px;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: $m-md;
  }
}
