@import '@theme/variables';

.pageHeading {
  .heading {
    display: inline-block;
    font-weight: $fw-semibold;

    &MainIcon {
      position: relative;
      top: 2.5px;
      margin-left: $m-sm;
    }

    &BackIcon {
      position: relative;
      top: 2.5px;
      margin-right: $m-md;
    }
  }
}
